@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav {
  position: sticky;
  top: 0px;
  right: 0px; 
  left: 0px;
}

h1 {
  font-size: x-large;
  font-weight: 600;
  padding-top: .25em;
  padding-bottom: .25em;
}